@import url('https://fonts.googleapis.com/css?family=BioRhyme:300,400,700&display=swap');
.hide-element {
  /* display: none !important; */
}
.hide-element2 {
  display: none !important;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  -webkit-box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
}
/* .clearfix {
  *zoom: 1;
} */
html {
  font-family: 'BioRhyme', serif;
  font-size: 16px;
}
body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
.hero {
  width: 100%;
  height: 100vh;
  background-image: url('/images/hero_1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
}
.hero::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-text-wrapper {
  max-width: 1100px;
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: left; */
  z-index: 1;
  color: white;
  margin: auto;
}
@media (max-width: 1024px) {
  .hero-text-wrapper {
    max-width: 900px;
  }
}
.headline {
  padding-top: 50px;
  /* color: white; */
  font-size: 1.4rem;
}
.subheadline {
  font-size: 1.2rem;
  max-width: 540px;
  padding: 10px 0;
}

.fancy-button {
  width: fit-content;
  color: white;
  text-decoration: none;
  padding: 18px 24px;
  /* background-color: orange; */
  /* border: 1px solid orange; */
  background: #e03100;
  border-radius: 35px 0;
  margin-top: 10px;
  font-weight: bold;
}

/* CONTACT */
.contact-section {
  /* background: url(bg.png) no-repeat center;
  background-size: cover; */
  padding: 40px 0;
  min-height: 100vh;
  background: #eeeeee;
}
.contact-section h2 {
  text-align: center;
  /* color: rgb(170, 170, 170); */
  font-size: 2rem;
  font-weight: 400;
}
.contact-section p {
  text-align: center;
  max-width: 600px;
  margin: 20px auto 40px auto;
  font-weight: 300;
}
.border {
  width: 100px;
  height: 2px;
  /* background: #34495e; */
  /* background: orange; */
  background: #e03100;
  margin: 20px auto 40px auto;
}

.contact-form {
  max-width: 800px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  /* background: #111; */
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus {
  box-shadow: 0 0 10px 1px #e03100;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  float: right;
  border: 0;
  /* background: #34495e; */
  background: #e03100;
  color: #fff;
  padding: 12px 80px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 1rem;
  font-weight: 400;
}
.contact-form-btn:hover {
  background: #2980b9;
}

@media (min-width: 768px) and (max-width: 979px) {
  .box {
    width: 49%;
    margin-bottom: 5%;
  }

  ul li:nth-child(3) .box {
    clear: both;
  }

  ul li:nth-child(2n) .box {
    margin-right: 0;
    clear: right;
  }
}

@media (max-width: 768px) {
  .hero .headline {
    text-align: center;
    font-size: 1.4rem;
  }
  .hero .subheadline {
    text-align: center;
    padding: 10px;
    margin: auto;
    font-size: 1.3rem;
  }
  .fancy-button {
    margin: auto;
    margin-top: 15px;
  }
  .introduction {
    width: 100%;
    max-width: 540px;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
  .introductory-headline {
    font-size: 1rem;
    margin-bottom: 17px;
    /* text-align: center; */
  }
  .services,
  .services-wrapper {
    width: 100%;
  }
  .services .title {
    font-size: 1.5rem;
  }

  .right-side,
  .left-side {
    width: 100%;
  }
  .image {
    max-width: 300px;
    width: 100%;
    margin: 20px 0;
  }
  .image img {
    width: 100%;
  }
  .discount-description {
    text-align: center;
  }

  .services {
    padding: 0;
  }
}
@media (max-width: 576px) {
  .hero .headline {
    text-align: center;
    font-size: 1rem;
  }
  .hero .subheadline {
    text-align: center;
    padding: 10px;
    margin: auto;
  }
  .fancy-button {
    margin: auto;
    margin-top: 15px;
  }
  .introduction {
    width: 100%;
    max-width: 540px;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
  }
  .introductory-headline {
    font-size: 1rem;
    margin-bottom: 17px;
    /* text-align: center; */
  }
  .services .title {
    font-size: 1.5rem;
  }

  .right-side,
  .left-side {
    width: 100%;
  }
  .image {
    max-width: 300px;
    width: 100%;
    margin: 20px 0;
  }
  .image img {
    width: 100%;
  }
  .discount-description {
    text-align: center;
  }

  .services {
    padding: 0;
  }
}
@media (max-width: 320px) {
  .headline {
    font-size: 1rem;
  }
  .subheadline {
    font-size: 1rem !important;
  }
}
/* SOCIAL MEDIA */
.social-media {
  display: flex;
}
.footer .social-media {
  justify-content: center;
  align-items: center;
}
/* a {
  text-decoration: none;
  color: white;
} */

.email a i,
.facebook a i,
.instagram a i {
  color: #e03100;
  font-size: 2rem;
  margin-right: 15px;
}
@media (min-width: 768px) {
  .hero {
    background-attachment: fixed;
  }
}
